*{margin: 0;padding: 0;}
li{list-style: none;}
header{
    width: 40%;
    position: fixed;
    top: 35px;
    right: 0;
}
.menu-list{
    display: flex;
    flex-direction: row;
}
.menu-item{
    font-weight: 700;
    text-transform: capitalize;
    flex:1 1;
    font-size: 20px;
    cursor: pointer;}
section{
    width: 100vw;
    height: 100vh;}
.title-circle,
.gnb-circle{
    display: block;
    border-radius: 50%;
    position: absolute;
}
.title-circle{
    width: 430px;
    height: 430px;
    background-image: linear-gradient(45deg,#f94892 40%,#ff742f,#fff980);
    filter: blur(100px);
    top: 35%;
    left: 10%;
}
.gnb-circle{
    width: 200px;
    height: 200px;
    background-color: #fff980;
    filter: blur(50px);
    top: -30px;
    right: 25%;
    z-index: -1;
}
.title{
    text-transform: capitalize;
    font-size: 30px;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    z-index: 1;}
.title>h4{
    font-size: 16px;
}
.title>h1{
    font-size: 55px;
}
.key{
    text-transform: capitalize;
    width: 300px;
    height: 100px;
    border: 1px dashed red;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:25%;
}
.name{position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;}
.about>div>h3::before{
    content: "";
    display: block;
    width: 3px;
    height: 18px;
    background-color: #aaa;
}
.photo{width: 180px;
    height: 180px;}
.photo>img{width: 100%;}
.portfolio{background-color: orange;}
.contact{background-color: yellow;}