*{margin: 0; padding: 0;}
html,body{
  box-sizing: border-box;
}
li{list-style: none;}
a{text-decoration: none;}
:root{
    --color-pink:rgb(239, 87, 166);
    --color-grey:#ccc;
}
@font-face {
  font-family: 'NY';
  src: url(./font/NewYork\ PERSONAL\ USE.otf);
}
.tabs {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    background-color: #fff;
    z-index: 100;
    padding: 12px;
  }
input[type=radio] {
    display: none;
  } 
.tab{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 180px;
    font-size: 20px;
    border-radius: 20px; 
    cursor: pointer;
    transition: color 0.15s ease-in;
  }
input[type=radio]:checked + label {
    color: var(--color-pink);
}
.home{
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    position: relative;}
.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 90px;
  font-family: 'NY';
}